::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #1e3165; 
}

::-webkit-scrollbar-thumb:hover {
  background: #1e3165bb; 
}

#first-Slide {
  background: url("./Assets/BackgroungImg2.png") no-repeat top right;
  @media screen and (max-width : 768px) {
      background-position: center;
      background-size: 150vw; 
  }
}

/* #cards-Collection {
  columns: 2 280px;
} */

.BuyAndSellCrypto {
  transform: translate(-50%, -50%);
}

#ThirdSlide {
  background: url("./Assets/LadyUsingPhone.jpg") no-repeat center;
  background-size: 100vw;
  /* height: 2000px; */
}

#JoinNowPage {
  background: url("./Assets/ContactMeDesign.png") no-repeat bottom right;
  background-size: 500px;
  min-height: 650px;
  /* min-height: 600px; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}


/* Un-Responsive CSS */
/* #first-Slide{
    background: url("./Assets/BackgroungImg2.png") no-repeat center;
    background-size: 100vw;
}

#cards-Collection{
    width: 71vw;
    margin: auto;
    margin-top: -250px;
    columns: 2 280px;
    column-gap: 1rem;
    font-size: 1.2rem;
}

.BuyAndSellCrypto{
    transform: translate(-50%,-50%);
}

#ThirdSlide{
    background: url("./Assets/LadyUsingPhone.jpg") no-repeat center;
    height: 2000px;
}

#JoinNowPage{
    background: url("./Assets/ContactMeDesign.png") no-repeat right;
    background-size: 500px;
    min-height: 600px;
}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      } */
