::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #1e3165; 
}

::-webkit-scrollbar-thumb:hover {
  background: #1e3165bb; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

#first-Slide {
  @media screen and (max-width : 768px) {
      background-position: center;
      background-size: 150vw; 
  }
}